.chocolates-page {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  padding-top: $navbar-height;
  background: $white;
  .product-image {
    height: 350px;
    margin: auto;
    padding: 30px;
  }
}
