.contact-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding-top: $page-top-padding + 50px;

  .contact-page-content {
    display: block;
    background: $white;
    position: relative;
    margin: auto;
    width: 80vw;
    padding: 40px 0;
    border: 5px double $light-pink;

    p {
      font-size: 1.5rem;
      width: 90%;
      margin: 20px auto;
      text-align: center;
      color: $brown;

      a {
        color: $brown;
        &:hover {
          color: $dark-pink;
        }
      }
    }
  }
}
