.cookies-page {
  position: relative;
  text-align: center;
  padding-top: $page-top-padding;
  padding-bottom: 20px;

  .product-image {
    height: 350px;
    margin: 15px;
  }

  @media (max-width: 700px) {
    padding-top: $mobile-page-top-padding;
    .product-image {
      width: 90vw;
      height: auto;
    }
  }
}
