.header {
  position: relative;
  background: $white;
  // border-bottom: 10px solid $very-dark-pink;
  width: 100vw;
  height: 35vh;
  text-align: center;
  z-index: 1;

  img {
    position: block;
    height: 100%;
    margin: 0 auto;
  }
}
