.landing-page-body {
  position: relative;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-flow: row;

  .carousel-container {
    position: relative;
    padding-top: 10vh;
    padding-right: 100px;
    width: 70vw;
    height: 100%;
    align-items: center;
  }

  .links {
    position: relative;
    width: 40vw;
    height: 100%;
    padding-top: 10vh;

    ul {
      height: 100%;
      width: 40vw;
      padding-left: 10vw;
      list-style: none;

      li {
        height: 20%;
        a {
          display: block;
          color: $brown;
          font-size: 2rem;
        }
      }
    }
  }
}
