.landing-page-body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/Cupcakes/Lemon.jpeg');
  background-repeat: no-repeat;
  background-position: center top $navbar-height;
  background-size: 90vw;
  background-color: lighten($brown, 25%);
  padding-top: $page-top-padding;

  .links {
    width: 100vw;
    height: 30vh;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;

    background-image: radial-gradient(
        lighten($opaque-pink, 15%) 20%,
        transparent 20%
      ),
      radial-gradient(lighten($opaque-pink, 19%) 20%, transparent 20%);
    background-position: 0 0, 15px 15px;
    background-size: 30px 30px;
    background-color: rgba(243, 176, 204, 0.5);
    a {
      text-align: center;
      width: 190px;
      height: 190px;
      margin: 30px 20px;
      padding-top: 80px;
      border: 5px solid $light-pink;
      border-radius: 100px;
      background: $brown;
      color: $white;
      font-size: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: $light-pink;
        transform: scale(1.1);
      }
    }
  }

  @media screen and (max-width: 1025px) {
    .links {
      height: 20vh;
      padding-top: 25px;
      a {
        width: 170px;
        height: 170px;
        margin: 10px;
        padding-top: 70px;
        font-size: 1.3rem;
      }
    }
    background-image: url('../../assets/Cakes/LimeCake.jpeg');
    background-position: center top $navbar-height + 50px;
  }

  @media screen and (max-width: 700px) {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center top $navbar-height + 80px;

    .links {
      width: 100vw;
      height: auto;
      padding: 0 0 20px;
      display: block;

      background-image: none;
      background-color: transparent;
      a {
        position: relative;
        display: inline-block;
        width: 50vw;
        height: auto;
        margin: 0 auto;
        padding: 20px 0;
        border: 2px solid $light-pink;
        border-radius: 8px;
      }
    }
  }
}
