.landing-page-body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: $white;
  text-align: center;
  padding-top: 80px;

  .logo {
    position: block;
    height: 55%;
    margin: 0 auto;
  }

  .text {
    border-top: 2px solid $very-dark-pink;
    padding-top: 20px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
  }

  p {
    font-size: 1.25rem;
    padding-top: 10px;
  }

  .links {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100vw;
    height: 60px;
    background: $very-dark-pink;
    a {
      display: inline-block;
      text-align: center;

      padding-top: 15px;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      width: 25vw;
      height: 100%;
      &:hover {
        background: lighten($very-dark-pink, 5%);
        border: 2px solid $very-dark-pink;
        border-radius: 10px;
        transform: scale(1.1);
        transition: ease-in(0.2s);
      }
    }
  }
}
