$light-pink: rgba(242, 183, 196, 1);
$dark-pink: rgba(240, 146, 189, 1);
$medium-pink: lighten($dark-pink, 10%);
$brown: rgba(125, 91, 79, 1);
$ivory: rgba(234, 221, 220, 1);
$white: rgba(252, 245, 248, 1);

//fonts
$script: 'Pinyon Script', cursive;
$text: 'EB Garamond', serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $text;
}

body {
  background-image: radial-gradient($ivory 20%, $medium-pink 20%);
  background-size: 10px 10px;
  height: 100vh;
  width: 100vw;
}
