$light-pink: rgba(243, 176, 204, 1);
$dark-pink: rgba(240, 146, 189, 1);
$very-dark-pink: #e34c8f;
$medium-pink: lighten($dark-pink, 10%);
$opaque-pink: rgba(240, 146, 189, 0.8);
$brown: rgba(125, 91, 79, 1);
$ivory: rgba(234, 221, 220, 1);
$white: #fdf9fa;

//fonts
$script: 'Pinyon Script', cursive;
$text: 'EB Garamond', serif;
$heading-size: 1.5rem;

//measurements
$navbar-height: 50px;
$page-top-padding: 100px;

//_________________________________________________//

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $text;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: $very-dark-pink;
}

h1 {
  font-size: 2.5rem;
}
